<li>
<%= h(category.name) %> (<%= category.offers.length %>)
  <div>
    <ul>
    <% unless category.children.empty? -%>
      <%= render :partial => '/categories/subcategory', :collection => category.children %>
    <% end -%>
    </ul>
  </div>
</li>
