<li>
<%= h(subcategory.name) %> (<%= subcategory.offers.length %>)
<% if !subcategory.children.empty? %>
  <ul><%= render :partial => '/categories/subcategory', :collection => subcategory.children %></ul>
<% end %>
</li>
